<section class="section" id="about">
    <div class="container">
        <div class="about-content">
            <div class="about-photo">
                <img src="{{ site.about.photo | relative_url }}" alt="{{ site.author.name }}" class="photo-img" loading="lazy">
            </div>
            <div class="about-text">
                {% for paragraph in site.about.paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
